@import "tailwindcss";

@font-face {
    font-family: Roboto;
    src: url('fonts/RobotoSlab.ttf');
}
body{
    font-family: Roboto;
}

.latest-trainings-item
{
   border-radius: 20%;
   border-width: 100%;
   border-color: red;
   border: solid;
   margin:2%;
   padding: 5%;
   font-size:140%;
   width: 95%;
   height: fit-content;
   background-color: #FB8B24;
}